<nav class="navbar navbar-expand-lg bg-primary text-white">
  <div class="container">
    <!-- Logo o nombre de la compañía -->
    <a class="navbar-brand text-white" href="#">Compañía La Jefaza</a>

    <!-- Botón para versión móvil -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Elementos de la navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Contacto</a>
        </li>

        <!-- Condición para mostrar el botón de iniciar sesión o el nombre del usuario -->
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="btn btn-outline-light ms-lg-2" href="/login">Iniciar sesión</a>
        </li>

        <li class="nav-item dropdown" *ngIf="isAuthenticated">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          hola
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/logout">Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
