<div class="register-container d-flex align-items-center justify-content-center">
  <form class="register-form text-center" [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <h1 class="mb-5 font-weight-light text-uppercase">Registro</h1>
    <div *ngIf="errorMessage" class="alert ">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>

    <div class="form-group mb-3">
      <input type="text" formControlName="name" class="form-control rounded-pill form-control-lg" placeholder="Nombre completo">
      <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="alert ">
        <div *ngIf="registerForm.get('name')?.errors?.['required']">El nombre es requerido.</div>
        <div *ngIf="registerForm.get('name')?.errors?.['minlength']">El nombre debe tener al menos 2 caracteres.</div>
      </div>
    </div>

    <div class="form-group mb-3">
      <input type="email" formControlName="email" class="form-control rounded-pill form-control-lg" placeholder="Correo electrónico">
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="alert ">
        <div *ngIf="registerForm.get('email')?.errors?.['required']">El correo electrónico es requerido.</div>
        <div *ngIf="registerForm.get('email')?.errors?.['email']">Por favor, introduce una dirección de correo electrónico válida.</div>
      </div>
    </div>

    <div class="form-group mb-3">
      <input type="password" formControlName="password" class="form-control rounded-pill form-control-lg" placeholder="Contraseña">
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="alert ">
        <div *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es requerida.</div>
        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</div>
      </div>
    </div>

    <div class="form-group mb-3">
      <input type="password" formControlName="confirmPassword" class="form-control rounded-pill form-control-lg" placeholder="Confirmar contraseña">
      <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="alert ">
        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">La confirmación de la contraseña es requerida.</div>
        <div *ngIf="registerForm.errors?.['notSame'] && registerForm.get('confirmPassword')?.touched">Las contraseñas no coinciden.</div>
      </div>
    </div>

    <button type="submit" class="btn mt-5 rounded-pill btn-lg btn-primary btn-block" [disabled]="registerForm.invalid">Registrarse</button>
    <p class="mt-3 font-weight-normal">¿Ya tienes una cuenta? <a href="/auth/login"><strong>Inicia sesión</strong></a></p>
  </form>
</div>
