<div class="register-container d-flex align-items-center justify-content-center">
  <form class="register-form text-center" (ngSubmit)="registerUser()" method="POST">
    <h1 class="mb-5 font-weight-light text-uppercase">Registro</h1>
    <div class="form-group mb-3">
      <input type="text" [(ngModel)]="name" name="name" class="form-control rounded-pill form-control-lg" placeholder="Nombre completo" required>
    </div>
    <div class="form-group mb-3">
      <input type="email"  [(ngModel)]="email" name="email" class="form-control rounded-pill form-control-lg" placeholder="Correo electrónico" required>
    </div>
    <div class="form-group mb-3">
      <input type="password"  [(ngModel)]="password" name="password" class="form-control rounded-pill form-control-lg" placeholder="Contraseña" required>
    </div>
    <div class="form-group mb-3">
      <input type="password"  [(ngModel)]="confirmPassword" name="confirmPassword"  class="form-control rounded-pill form-control-lg" placeholder="Confirmar contraseña" required>
    </div>
    <button type="submit" class="btn mt-5 rounded-pill btn-lg btn-primary btn-block">Registrarse</button>
    <p class="mt-3 font-weight-normal">¿Ya tienes una cuenta? <a href="/login"><strong>Inicia sesión</strong></a></p>
  </form>
</div>
